# Dependency directories
/node_modules

# Package lock file
package-lock.json

# Environment configuration files
.env
.env.local
.env.*.local

# Log files
/logs

# Config files, appConfig.js use appconfig.template.js to modify and create.
appConfig.js
